{% for finding in output.findings_dictionary.findings %}
{{ my_host_name }},{{ my_host_ip_address }},{{ finding.id }},"{{ finding.group_title }}","{{ finding.version }}","{{ finding.rule_title }}",{{ finding.disa_id }},{{ finding.mitre_id }},{{ finding.severity }},{{ finding.is_passed|string }} 
{% endfor %}
